.create-meeting-form{
    display: flex;
    flex-direction: column;
}
.create-meeting-form > div{
    display: flex;
    margin: 10px 0px;
    max-width: 450px;
    justify-content: space-between;
}
.warning-info{
    color: red;
    margin: 10px 0px;
}
button{
    margin-right: 10px;
}
.create-meeting-modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 22;
}
.modal-content{
    background-color: #eaf6ff;
    padding: 10px;
    opacity: 1;
    box-shadow: 0px 40px 5px 0px rgba(0,0,0,0.75);
    color: #3174ad;
}
.custom-select{
    min-width: 200px;
}